

  
@keyframes paralex-animate {


 
  
  0%,25%{
    background: url('../Image/himgate2.jpg') no-repeat center;
    background-attachment: fixed; background-size: 100% 100%;
  }
  30%,65%{
    background: url('../Image/tec.jpg') no-repeat center;
    background-attachment: fixed; background-size: 100% 100%;
  }



  
}

 




   

    
  
  

  
   
   
